<%= render template: "pages/navbar/index" %>
<div class="container-fluid p-0">
    <%= render template: "pages/about/index" %>
    <%= render template: "pages/experience/index" %>
    <%= render template: "pages/education/index" %>
    <%= render template: "pages/skills/index" %>
    <%= render template: "pages/interest/index" %>
    <%= render template: "pages/awards/index" %>
</div>